<% include('./settings/_variables') %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= metadata.pageTitle %></title>
  <meta name="description" content="<%= metadata.description %>">
  <meta name="keywords" content="<%= metadata.keywords %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./assets/css/style.css" media="all">
  <% localCss(__append) %>
</head>
<body>
<%- include('./structures/_header') %>
<main class="st-main" role="main">
  <% st_main(__append) %>
</main>
<%- include('./structures/_footer') %>
<script src="./assets/js/ui.js"></script>
</body>
</html>
